  .char-options {
    background: lightgreen;
    padding: 5px 10px 5px;

    @media only screen and (min-width: 600px) {
      padding: 5px 20px 5px;
    }

    .categories {
      // background: lightyellow;
      display: flex;
      flex-wrap: wrap;

      .category {
        background: white;
        border: 1px solid black;
        padding: 2px 4px;;
        margin-right: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        user-select: none;

        &.unselected {
          opacity: 0.3;
        }
      }
    }
  }
