body {
  background: #333;
}

.main {
  background: #555;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;

  .header {
    background: lightcoral;
    padding: 20px 10px;
    font-size: 30px;
  }
}
