.char-item {
  background: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  overflow: auto;

  @media only screen and (min-width: 600px) {
    padding: 10px;
  }

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .char-item-drag-handle {
      background: green;
      padding: 10px;
      cursor: pointer;
      user-select: none;
    }

    .text {
      margin-left: 10px;
      padding: 3px;
      min-width: 100px;
    }
  }

  .remove {
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}